*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;
}

/*HEADER*/
header{
    position: relative;
    padding: 0 2rem;
    background-color: #8D021F;
    padding-bottom: 80px;

}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo .image{
    height: 80px;
    margin-top: 80px;
    
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 4.5rem;
    margin-top: 60px;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1,5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #ED2647;
    margin-top: 60px;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;    
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

/*DROPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*MAIN*/
.one{
    background-image: url(el-via-global/png/hou.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
    background-color: black;
    height: 600px;
    padding-top: 120px;
    padding-left: -500px;
}

.welcome{
    color: #fff;
    height: 230px;
    width: 600px;
    margin-left: 100px;
    border: #8D021F solid 3px;
    padding: 20px;
}

.welcome h1{
    font-size: 42px;
    margin-top: 20px;
}

.welcome p{
    font-size: 24px;
    font-style: italic;
    color: #ED2647;
}

.two{
    background-color: #8D021F;
    color: #003153;
}

.two h1, .expect h1{
    color: #a9927d;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.first, .second, .third, .fourth{
    display: flex;
    background-color: #8D021F;
    margin-left: -100px;
}

.second{
    background-color: ;
}

.third{
    margin-top: -70px;
}

.key, .key2{
    background-color: #8D021F;
    height: 500px;
    border-radius: 200px;
    margin-left: 150px;
    margin-top: 20px;
}

.key img{
    margin-left: 50px;
}

.img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: #a9927d solid 5px;
}

.key2{
    margin-left: 110px;
    margin-top: 100px;
}

.key1{
    background-color: #a9927d;
    width: 500px;
    text-align: left;
    line-height: 32px;
    font-size: 20px;
    margin-left: 250px;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
    border: #003153 solid 5px;
}

.type{
    background-color: #a9927d;
    width: 500px;
    height: 400px;
    line-height: 32px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 100px;
    text-align: center;
    margin-left: 150px;
    padding: 20px;
    border: #003153 solid 5px;
}

.expect{
    background-color: #003153;
    padding-bottom: 50px;
}

.expect p{
    color: #a9927d;
    text-align: center;
    margin-top: -20px;
    font-style: italic;
    font-weight: 300;
}

.points{
    margin: 0 80px;
    text-align: left;
}

.points h3{
    font-size: 35px;
    color: #ED2647;
    margin-bottom: 20px;
    margin-top: 20px;
}

.points p{
    text-align: left;
    color: #fff;
    font-size: larger;
    font-style: normal;
}

.mySlides{
    display: none;
}

.w3-button{
    background-color: #ED2647;
    margin-bottom: 300px;
}

/*SLIDESHOW*/
.slideshow{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #1D212B;
}
.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;;
    background: #1D212B;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 500px;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active{
    background: #1D212B;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*CONTACT*/
.contact{
    background-color: #003153;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D212B;
    width: 60%;
    height: 90px;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid #000;
    color: #8D021F;
}

.contact a i{
    font-size: 40px;
    margin-right: 10px;
}

.contact a p{
    font-size: 30px;
}

.contact a:hover{
    color: #003153;
}

.contact-head{
    text-align: center;
    margin-top: 20px;
}

.contact-head h1{
    font-size: 40px;
    color: #8D021F;
}

.contact-head p{
    color: antiquewhite;
}

/*FOOTER*/
.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    color: #ED2647;
}

.footer-left{
    width: 18%;
}

.footer-right a:hover{
    color: #8D021F;
}

/*REPONSIVE DESIGN*/
@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{ 
        display: block;
    }
}

@media (max-width: 820px){
    .img-slider{
        width: 600px;
        height: 375px;
    }

    .img-slider .slide .info{
        padding: 10px 25px;
    }

    .img-slider .slide .info h2{
        font-size: 35px;
    }

    .img-slider .slide .info p{
        width: 70%;
        font-size: 15px;
    }

    .img-slider .navigation{
        bottom: 25px;
    }

    .img-slider .navigation .btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 620px){
    .img-slider{
        width: 400px;
        height: 250px;
    }

    .img-slider .slide .info{
        padding: 10px 20px;
    }

    .img-slider .slide .info h2{
        font-size: 30px;
    }

    .img-slider .slide .info p{
        width: 80%;
        font-size: 13px;
    }
 
    .img-slider .navigation{
        bottom: 15px;
    }

    .img-slider .navigation .btn{
        width: 8px;
        height: 8px;
        margin: 6px;
    }

    .one{
        height: 350px;
    }

    .welcome{
        width: 500px;
        margin-top: -45px;
        margin-left: 50px;
    }

    .key{
        margin-left: 110px;
        margin-bottom: -30px;
    }

    .key1{
        margin-top: 600px;
        margin-left: -500px;
    }

    .key2{
        margin-left: -60px;
    }

    .type{
        margin-top: 300px;
    }

    .second .key2{
        margin-left: -590px;
        margin-top: 70px;
    }

    .second .type{
        margin-top: 650px;
    }

    .third .key{
        margin-top: 150px;
    }

    .third .key1{
        margin-top: 700px;
    }

    .fourth .key2{
        margin-left: -610px;
    }

    .fourth .type{
        margin-top: 700px;
        margin-left: 160px;
    }

    .fourth{
        padding-bottom: 50px;
    }

    .expect h1{
        font-size: 45px;
    }

    .expect p{
        padding: 0 10px;
    }

    .img-slider{
        height: 500px;
    }

    .contact a i{
        font-size: 20px;
    }

    .contact a p{
        font-size: 15px;
    }

    .footer{
        padding: 0 20px;
    }

    .footer-left{
        width: 40%;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    .one{
        height: 350px;
    }

    .welcome{
        width: 500px;
        margin-top: -45px;
        margin-left: 35px;
    }

    .key{
        margin-left: 90px;
        margin-bottom: -30px;
    }

    .key1{
        margin-top: 600px;
        margin-left: -500px;
    }

    .key2{
        margin-left: -90px;
    }

    .type{
        margin-top: 300px;
    }

    .second .key2{
        margin-left: -615px;
        margin-top: 70px;
    }

    .second .type{
        margin-top: 650px;
    }

    .third .key{
        margin-top: 150px;
    }

    .third .key1{
        margin-top: 700px;
    }

    .fourth .key2{
        margin-left: -610px;
    }

    .fourth .type{
        margin-top: 700px;
        margin-left: 140px;
    }

    .fourth{
        padding-bottom: 50px;
    }

    .expect h1{
        font-size: 45px;
    }

    .expect p{
        padding: 0 10px;
    }

    .img-slider{
        height: 500px;
    }

    .contact a i{
        font-size: 20px;
    }

    .contact a p{
        font-size: 15px;
    }

    .footer{
        padding: 0 20px;
    }

    .footer-left{
        width: 40%;
    }
}

@media (max-width: 420px){
    .img-slider{
        width: 320px;
        height: 200px;
    }

    .img-slider .slide .info{
        padding: 5px 10px;
    }

    .img-slider .slide .info h2{
        font-size: 25px;
    }

    .img-slider .slide .info p{
        width: 90%;
        font-size: 11px;
    }
 
    .img-slider .navigation{
        bottom: 10px;
    }

    .one{
        height: 350px;
    }

    .welcome{
        width: 500px;
        margin-top: -45px;
        margin-left: 35px;
    }

    .key{
        margin-left: 90px;
        margin-bottom: -30px;
    }

    .key1{
        margin-top: 600px;
        margin-left: -500px;
    }

    .key2{
        margin-left: -90px;
    }

    .type{
        margin-top: 300px;
    }

    .second .key2{
        margin-left: -615px;
        margin-top: 70px;
    }

    .second .type{
        margin-top: 650px;
    }

    .third .key{
        margin-top: 150px;
    }

    .third .key1{
        margin-top: 700px;
    }

    .fourth .key2{
        margin-left: -610px;
    }

    .fourth .type{
        margin-top: 700px;
        margin-left: 140px;
    }

    .fourth{
        padding-bottom: 50px;
    }

    .expect h1{
        font-size: 45px;
    }

    .expect p{
        padding: 0 10px;
    }

    .img-slider{
        height: 500px;
    }

    .contact a i{
        font-size: 20px;
    }

    .contact a p{
        font-size: 15px;
    }

    .footer{
        padding: 0 20px;
    }

    .footer-left{
        width: 40%;
    }
}